
footer {
    height: 150px;
    padding: 2rem 1.5rem;
    /* margin-top: 2rem; */
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.copyright_text {
    display: flex;
    color: white;
    justify-content: center;
}

.footer_items {
    display: flex;
    justify-content: space-between;
}

.footer_menu a {
    margin: 0 0.8rem;
    padding: 1rem 0.8rem;
    font-size: 1.2rem;
}

