*{
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --primary-hue: 270;
  --black-lightness: 15%;
  --dark-lightness: 44%;
  --light-lightness: 94%;
  --white-lightness: 100%;
  --color-primary: hsl( var(--primary-hue), 89%, 41% );
  --color-white: hsl( 0, 5%, var( var(--white-lightness) ) );
  --color-black: hsl( 0, 5%, var( var(--black-lightness) ) );
  --color-dark: hsl( 0, 5%, var( var(--dark-lightness) ) );
  --color-light: hsl( 0, 5%, var( var(--light-lightness) ) );

  --container-width-lg: 80%;
  --container-width-md: 90%;

  --border-radius-1: 1.2rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 0.5rem;

  --transition: all 500ms ease ;


}

/* General Container class */
.container {
  width: var( --container-width-lg ) !important;
  margin-inline: auto;
  max-width: 1920px;
  /* margin-bottom: 2rem; */

}

h1 {
  font-size: 3.5rem;
  margin-bottom: 1.2rem;
}

h1, h2, h3, p {
  color: white;
}

p {
  font-size: 1rem;
  margin-bottom: 1.2rem;


}

.section {
  margin-top: 2rem;
  padding-bottom: 2rem;
}

@media screen and (max-width: 1320px) {
 .container {
  width: var( --container-width-md ) !important;

 }
}